@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

#profileContainer {
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    margin: 0 auto;
    pointer-events: all;
    width: 250px;
    height: 50px;
    padding: 8px;
    margin-top: 8px;
    font-family: 'Lato', sans-serif;
}

#profileContainer .profilePicture {
    width: 48px;
    height: 48px;
    float: left;
}

#profileContainer .role {
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    display: block;
    margin: 32px 0 0 -16px;
    float: left;
    opacity: 0.8;
}
#profileContainer .role.user {background-image: url('client/assets/img/user.png');}
#profileContainer .role.admin {background-image: url('client/assets/img/admin.png');}

#profileContainer .userInfo {
    font-size: 12px;
    opacity: 0.8;
    color: white;
    margin: auto;
    margin-top: 8px;
}

#profileContainer .userInfo span {
    display: block;
    color: white;
}

#actionsContainer {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px 8px 0 0;
}

#actionsContainer .button {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    pointer-events: all;
    margin: 6px;
    opacity: 0.8;
    float: right;
}
#ui-container .love {background-image: url('client/assets/img/love.png'); display: none;}
#ui-container .logout {background-image: url('client/assets/img/logout.png');}
#ui-container .lockCursor {background-image: url('client/assets/img/pointerLock.png');}
#ui-container .help {background-image: url('client/assets/img/help.png');}

#actionsContainer .button {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#actionsContainer .button:hover {
    opacity: 1;
}

#ui-container #help {
	width: 40%;
	height: 40%;
	margin: 0 auto;
	margin-top: 8%;
	padding: 5% 0 5% 0;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	pointer-events: all;
}

#ui-container #help span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}

#ui-container #help .closeButton {
	background-image: url('client/assets/img/close.png');
	width: 16px;
	height: 16px;
	float: right;
	margin: 10px;
	margin-top: -10%;
	position: relative;
	cursor: pointer;
}