#ui-container #help {
	width: 40%;
	height: 40%;
	margin: 0 auto;
	margin-top: 8%;
	padding: 5% 0 5% 0;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	pointer-events: all;
}

#ui-container #help span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}

#ui-container #help .closeButton {
	background-image: url('client/assets/img/close.png');
	width: 16px;
	height: 16px;
	float: right;
	margin: 10px;
	margin-top: -10%;
	position: relative;
	cursor: pointer;
}
