#ui-container .settingsPanel {
	width: 40%;
	height: 40%;
	margin: 0 auto;
	margin-top: 8%;
	padding: 3%;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	pointer-events: all;
}

#ui-container .settingsPanel span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}

#ui-container .settingsPanel .closeButton {
	background-image: url('assets/img/close.png');
	width: 16px;
	height: 16px;
	float: right;
	margin: 10px;
	margin-top: -5%;
	margin-right: -5%;
	position: relative;
	right: 0;
	top: 0;
	cursor: pointer;
}

/* .iAmDev */
#ui-container .settingsPanel .iAmDev {
	margin: 0 auto;
	margin-top: 10px;
	width: 160px;
}
#ui-container .settingsPanel .iAmDev label {
	float: left;
	cursor: pointer;
}
#ui-container .settingsPanel .iAmDev label:after {
  content: '';
  width: 9px;
  height: 5px;
  float: left;
  margin: 4px 8px 4px 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0.2;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#ui-container .settingsPanel .iAmDev label:hover::after {
  opacity: 0.4;
}
#ui-container .settingsPanel .iAmDev input[type=checkbox] {
  visibility: hidden;
}
#ui-container .settingsPanel .iAmDev input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* .presenterMode */
#ui-container .settingsPanel .presenterMode {
	margin: 0 auto;
	margin-top: 10px;
	width: 160px;
}
#ui-container .settingsPanel .presenterMode label {
	float: left;
	cursor: pointer;
}
#ui-container .settingsPanel .presenterMode label:after {
  content: '';
  width: 9px;
  height: 5px;
  float: left;
  margin: 4px 8px 4px 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0.2;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#ui-container .settingsPanel .presenterMode label:hover::after {
  opacity: 0.4;
}
#ui-container .settingsPanel .presenterMode input[type=checkbox] {
  visibility: hidden;
}
#ui-container .settingsPanel .presenterMode input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* .language */
#ui-container .settingsPanel .language {
	margin: 0 auto;
	margin-top: 45px;
	width: 220px;
}
#ui-container .settingsPanel .language label {
	float: left;
	cursor: pointer;
}
#ui-container .settingsPanel .language-select {
    margin: 4px 8px 4px 4px;
    cursor: pointer;
}

@media (max-width:768px) {
	#ui-container .settingsPanel {
		font-size: 12px;
	}
}
